@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Changa', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 1.5;
}

ul li {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    list-style-type: none;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color .3s ease;
    cursor: pointer;
}

ul li:hover {
    background-color: rgba(250, 239, 134, .2);
}

ul li.selected {
    background-color: rgba(250, 239, 134, .2);
}

.hero {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url('./images/burger-with-lettuce-and-tomato.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.hero header {
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.hero .logo {
    font-family: 'Changa', sans-serif;
    font-size: 24px;
}

.hero .logo:hover {
    cursor: pointer;
}

.hero .menu ul {
    display: flex;
}

.hero .tel {
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all .3s ease;
}

.tel:hover,
.text .cta:hover {
    color: #faef86;
    border-color: #faef86;
    cursor: pointer;
}

.hero .text {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.text span {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: #faef86;
}

.text .cta {
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.about,
.menu,
.contact {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2,
.menu h2,
.contact h2 {
    margin: 50px 0;
    border-bottom: 5px solid #faef86;
}

.about-content {
    padding-right: 20px;
    border: 5px solid #faef86;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.about-image {
    width: 400px;
    line-height: 0;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 5px 0 0 5px;
}

.about-text {
    width: 500px;
}

.about-text h3 {
    margin-bottom: 30px;
}

.about-text p {
    margin-bottom: 10px;
    text-align: justify;
}

.menu-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.menu-content .item {
    padding-right: 20px;
    border: 5px solid #faef86;
    border-radius: 10px;
    display: flex;
    column-gap: 20px;
}

.item-image {
    width: 400px;
    line-height: 0;
}

.item-image img {
    width: 100%;
    height: auto;
    border-radius: 5px 0 0 5px;
}

.item-text {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.item-text > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-text p {
    text-align: justify;
}

.item-text .price {
    font-size: 18px;
    font-weight: bold;
    color: #ea0802;
}

.contact-content {
    width: 700px;
    padding: 30px 0;
    border: 5px solid #faef86;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content .title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.title img {
    width: 60px;
    height: auto;
}

.address,
.hours,
.social {
    width: 280px;
}

.address,
.hours {
    margin-bottom: 20px;
}

.day,
.time {
    font-family: 'Changa', sans-serif;
    font-size: 18px;
    color: #ea0802;
}

.social-icons {
    display: flex;
    column-gap: 20px;
}

.social-icons img {
    width: 30px;
    cursor: pointer;
}